.doc/02-n8n-workflows/blog-publish-minimal-v1.json
{
  "name": "blog-publish-minimal-v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blog/publish/v1",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-blog-publish",
      "name": "Webhook - Blog Publish",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "blog-publish-v1"
    },
    {
      "parameters": {
        "functionCode": "// Simple validation\nconst body = $input.item.json.body;\nconst headers = $input.item.json.headers;\n\n// Check required fields\nif (!body.blog_id || !body.title || !body.content) {\n  return {\n    valid: false,\n    error: 'Missing required fields'\n  };\n}\n\nreturn {\n  valid: true,\n  ...body\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.valid}}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-valid",
      "name": "IF Valid Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Return error response\nreturn {\n  success: false,\n  error: {\n    code: 'VALIDATION_ERROR',\n    message: $input.item.json.error\n  },\n  metadata: {\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "functionCode": "// Simple success response (no external API calls)\nreturn {\n  success: true,\n  data: {\n    blog_id: $json.blog_id,\n    published_at: new Date().toISOString(),\n    message: 'Blog published successfully (minimal version)'\n  },\n  metadata: {\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook - Blog Publish": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "IF Valid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Input": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "blog-publish-minimal-v1",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": []
}
